.div {
    margin: 10px;
    padding: 10px;
    width: 100px;
    height: 100px;
    color: bisque;
    border: 10px;
    border-radius: 10px;
    border-color: red;
    font-style: italic;
}
.dic {
    color: black;
    size: 25px;
}
.rowt {
    color: black;
    width: 10px;
    height: 10px;
    
}
.dds {
    src: calc();
    caption-side: top;
    display: flexbox;
    font-size: medium;
    gap: 10px;
    word-break: initial;
    justify-content: center;
    hyphens: calc(display);
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    background-position: center;
}
.dsa {
    height: 30px;
}
@media (max-width: 768px) {
  body {
    background: red;
  }
}
